@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  font-family: 'Verdana', sans-serif;
  background-color: #ffffff;
}

h1 {
  margin: 50px;
  color: black;
  -webkit-text-fill-color: rgb(0, 0, 0); 
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 50px;
  
}

.carousel {
  display: inline-block;
  position: relative;
  height:  1em;
  line-height: 1em;
  width: 245px;
  overflow: hidden;
  vertical-align: middle;
}

.carousel2 {
  display: inline-block;
  position: relative;
  height:  1em;
  line-height: 1em;
  width: 600px;
  overflow: hidden;
  vertical-align: middle;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -4px;
  animation: 15s ease-in-out 1.5s infinite forwards carousel;
}

.carousel2-wrapper {
  display: inline-flex;
  /*margin-left: 15px;*/
  flex-direction: column;
  position: absolute;
  top: -4px;
  animation: 15s ease-in-out 1.5s infinite forwards carousel2;
}

  @keyframes carousel {
      0% {top: calc(-0em + -4px);} /* H1 N1 */
      10% {top: calc(-0em + -4px);} /* H1 N1 */
      20% {top: calc(-0em + -4px);} /* H1 N1 */
      30% {top: calc(-1em + -19px);} /* H1 N2 */
      60% {top: calc(-1em + -19px);} /* H1 N2 */
      70% {top: calc(-2em + -42px);} /* H1 N3 */
      90% {top: calc(-2em + -42px);} /* H1 N3 */
      100% {top: calc(-0em + -4px);} /* H1 N1 */
    }

@keyframes carousel2 {
      0% {top: calc(-0em + -4px);} /* H1 N1.1 */
      5% {top: calc(-0em + -4px);} /* H1 N1.1 */
      15% {top: calc(-1em + -22px);} /* H1 N1.2 */
      20% {top: calc(-1em + -22px);} /* H1 N1.2 */
      30% {top: calc(-2em + -42px);} /* H1 N2.1 */
      40% {top: calc(-2em + -42px);} /* H1 N2.1 */
      50% {top: calc(-3em + -62px);} /* H1 N2.2 */
      60% {top: calc(-3em + -62px);} /* H1 N2.2 */
      70% {top: calc(-4em + -82px);} /* H1 N3.1 */
      75% {top: calc(-4em + -82px);} /* H1 N3.1 */
      85% {top: calc(-5em + -102px);} /* H1 N3.2 */
      90% {top: calc(-5em + -102px);} /* H1 N3.2 */
      100% {top: calc(-0em + -4px);} /* H1 N1.1 */
    }

.carousel-item {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
}

.carousel2-item {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
}

.carousel-item:nth-child(1) {  -webkit-text-fill-color: #256EAF}
.carousel-item:nth-child(2) {  -webkit-text-fill-color: #DD4B25}
.carousel-item:nth-child(3) {  -webkit-text-fill-color: #E8D44D}

.carousel2-item:nth-child(1) {  -webkit-text-fill-color: #256EAF}
.carousel2-item:nth-child(2) {  -webkit-text-fill-color: #256EAF}
.carousel2-item:nth-child(3) {  -webkit-text-fill-color: #DD4B25}
.carousel2-item:nth-child(4) {  -webkit-text-fill-color: #DD4B25}
.carousel2-item:nth-child(5) {  -webkit-text-fill-color: #E8D44D}
.carousel2-item:nth-child(6) {  -webkit-text-fill-color: #E8D44D}
