
.h1title {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
  margin: 0vw 0px 0px;
  padding: 0vw 2vw 0;
  font-size: calc(20px + 3vw);
  font-weight: 900;
  /*border:3px dashed blue;*/
}

.h1subtext{
  margin: 0 0 0 2vw;
  padding: 0 3vw;
  font-size: calc(1em + 0.5vmax);
}

.ProjHeader{
  margin: 6vw 0 0;
  display: flex;
  align-items: center;
}

.ProjBody{
  margin: 3vw 0 0;
  display: flex;
  
}


.ProjBody h2{
  margin: 0vw 2.5vw;
}

.ProjBody p{
  margin: 0vw 3vw 0 5vw;
}

.ProjInfoTab{
  padding: 1.5vw 1vw;   
  margin-left: auto;
  width: 30vw;
  max-height: 20vw;
  background-color: var(--base-divbg);
  border-radius: 2vw 0.5vw 0.5vw 2vw;
}

.ProjExtTab{
  padding: 1.5vw 1vw;   
  margin: 2vw 10vw;
  max-width: 78vw;
  max-height: 20vw;
  background-color: var(--base-divbg);
  border-radius: 2vw;
}

.ProjExtTab h2{
  margin: 1vw 1.5vw 0;
}

.ProjExtTab p{
  font-size: calc(0.6em + 0.8vmax);
}

.ProjBody img{
  padding: 0;  
  margin: 1vw 1vw 1vw 2vw;
  position: relative;
  max-height: 40vw;
  border-radius: 1.3vw;
  float: right;
}

.flatbgdiv {
  position: relative;
  max-width: 1243px;
  margin: 5vw auto 0px;
  padding: 0;
  background-color: var(--base-divbg);
  /*min-height: 800px;
  /*background-size: 90% auto;*/
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flatbgimg1 {
  position: relative;
  width: 20vw;
  height: 30vw;
  margin: 1vw 3vw;
  padding: 0px 0px 40px 0px;
}
.flatbgimg2 {
  position: relative;
  width: 20vw;
  height: 20vw;
  top:10px;
  right:0px;
  bottom:5px;
  left:5%;

  margin: 0px 0px 0px 30px;
  padding: 0px 0px 40px 40px;
  background-color: var(--base-divbg);
}
.flatbgimg3 {
  position: relative;
  width: 20vw;
  height: 30vw;
  top:10px;
  right:0px;
  bottom:5px;
  left:5%;

  margin: 0px 40px 180px 0px;
  padding: 0px 0px 40px 80px;
  background-color: var(--base-divbg);
}

.flatbgh {
  text-align: center;
  margin: 5vw 0px 0px 0px;
  padding: 40px 0px 0px 0px;
  background-color: var(--base-divbg);
  font-weight: bold;
}

.flatbgsubh {
  -webkit-text-fill-color:var(--base-textsubfill);
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: var(--base-divbg);
}

.flatbgp {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 20px 80px;
  background-color: var(--base-divbg);
}

.flatbgbuttonp {
  margin: -120px 0px 0px 0px;
  padding: 0px 0px 20px 38%;
  background-color: var(--base-divbg);
  font-weight: 700;
}