@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --img-indexback: url("https://drive.google.com/thumbnail?id=1LKZFg1k73dhyUxUT5oXxzme2d2ANYznd&sz=w1000");
  --base-textfill: #ffffff;
  --base-textofffill: #f9f9f9;
  --base-textsubfill: #929292;
  --base-textnavfill: #e6e6e6;
  --base-textstroke: rgb(0, 0, 0);
  --base-bgfill: #202022;
  /* prev #1c1c1c*/
  --base-bgopacity: rgba(32, 32, 34, 0.85);
  --base-divbg: #383838;
  /* prev #383838*/
  /*454a4e*/
  --base-primcol: ;
  --base-acctcol: #256EAF;
  --base-acctcolopac: #256EAFB3;
  --base-acctshad: #284866;
  --base-acctshadopac: #284866B3;
  /* prev #23394d*/
  --base-toolbg: #555;

  /*Carousel colours*/
  --car-blue: #256EAF;
  --car-red: #DD4B25;
  --car-green: #31dd25;
}

.lightmode {
  transition: all 0.2s;
  --base-textfill: #000000;
  --base-textofffill: #111111;
  --base-textsubfill: #353535;
  --base-textnavfill: #191919;
  --base-textstroke: rgb(14, 13, 13);
  --base-bgfill: #d1dde0;
  /* prev #c9c9c9*/
  --base-bgopacity: rgba(209, 221, 224, 0.80);
  --base-divbg: #9dabb0;
  /* prev #8f8f8f*/
  --base-primcol: ;
  --base-acctcol: #5a90c2;
  --base-acctcolopac: #5a90c2b3;
  --base-acctshad: #7aa5cd;
  --base-acctshadopac: #7aa5cdb3;  
  /* prev #256EAF */
  --base-toolbg: #555;

  /*Carousel colours*/
  --car-blue: #0b4e88;
  --car-red: #aa2b0c;
  --car-green: #23ad19;
}



* {
  font-family: 'Roboto', sans-serif;
  /* Other nice font: Verdana*/

  scroll-behavior: smooth;
  scroll-padding: 1rem;

}

a {
  color: var(--base-textfill);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--base-bgfill)
}

p {
  margin: 30px;
  color: #000000;
  -webkit-text-fill-color: var(--base-textfill);
  -webkit-text-stroke-color: var(--base-textstroke);
  font-size: calc(0.6em + 1vmax);
}

h5 {  /*works like a p2*/
  margin: 25px;
  color: #000000;
  -webkit-text-fill-color: var(--base-textfill);
  -webkit-text-stroke-color: var(--base-textstroke);
  font-size: calc(0.5em + 0.7vmax);
  font-weight: normal;
}


h1 {
  margin: 50px;
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: var(--base-textfill);
  -webkit-text-stroke-color: var(--base-textstroke);
  font-size: calc(20px + 3vw);

}

h2 {
  margin: 35px;
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: var(--base-textfill);
  -webkit-text-stroke-color: var(--base-textstroke);
  font-size: calc(10px + 2vw);

}

h3 {
  margin: 30px 0 0;
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: var(--base-textfill);
  -webkit-text-stroke-color: var(--base-textstroke);
  font-size: calc(5px + 1.5vw);

}

hr {
  width: 70vw;
  margin: 0vw auto;
  border-width: 0.2vw;
  /*border-top: solid var(--base-bgfill);
  border-right: inset var(--base-acctshad);
  border-bottom: inset var(--base-acctshad);
  border-left: solid var(--base-bgfill);*/
  
}

.tophr{
  margin: 0vw auto 2vw !important;
}

.subhr{
  margin: 2vw auto 0vw !important;
}

/*
img{
  imgtypes https://www.game-oracle.com/blog/steam-store-images
  Vertical Capsules
  --imgVC-FBP:"https://drive.google.com/thumbnail?id=1Iq0iaeZNvapJJp7ZRRi7cskLX80tg7kH&sz=w1000";
  --imgVC-Internship: ;
  
  upsettingly, this does not work
}
*/

.clearfix {
  overflow: auto;
}

.suptext{
  font-size: 0.7em;
  vertical-align: super;
}

/*
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
*/

.imgdiv{
  margin: 0;
  padding: 1vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#theme-switch {
  height: 3vw;
  width: 3vw;
  padding: 0;
  margin: 0.3vw;
  border-radius: 25%;
  background-color: var(--base-divbg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1vw;
  left: 4vw;
  transition: all 0.2s;
}

#theme-switch svg {
  fill: var(--base-bgfill)
}

#theme-switch svg:last-child {
  display: none;
}

.lightmode #theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: block;
}