.h1proj {
    /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
    margin: 0;
    padding: 0;
    font-size: calc(20px + 3vw);
    font-weight: 600;
    text-align: center;
    /*border:3px dashed blue;*/
}

.psub {
    margin: 5vw 0 0.5vw;
    text-align: center;
    -webkit-text-fill-color: var(--base-textsubfill);
}

.psub2 {
    margin: 1vw 0 1vw;
    text-align: center;
    -webkit-text-fill-color: var(--base-textsubfill);
}

/*
Idea is to create left-right 'steps' of projects
*/

.yearHead {
    margin-left: 10vw;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-text-fill-color: var(--base-textsubfill);
}

.h2proj {
    position: relative;
    margin: 1.1vw 2vw 0.1vw !important;
    padding: 0vw;
    max-width: 40vw;
}

.h2proj a:hover {
    transition: all 0.2s;
    -webkit-text-fill-color: var(--base-textsubfill);

}

.pSearch {
    margin: 1vw 10vw;
}

.pSearch a{
   -webkit-text-fill-color: var(--base-textsubfill); 
}

.p2sub {
  margin: 0.2vw 0 auto 1vw !important;
  padding: 0vw;
  -webkit-text-fill-color: var(--base-textnavfill);
  font-size: calc(0.6em + 0.5vmax);
}

.p2text {
    font-size: calc(0.6em + 1.6vmax);
    margin: 1.7vw 1vw;
}




/*
Wanted to try make these flexboxes but that did not work out 
*/

.imgdiv {
    margin-left: 10vw !important;
    justify-content: left !important;
}

.pagecontent {
    max-width: 99vw;
    overflow: hidden;
}

.imgdivimg {
    position: relative;
    max-width: 20vw;
    height: 25vw;
    border-radius: 1.7vw;
}

.imgdivitem {
    position: relative;
    max-width: 20vw;
    height: 25vw;
    margin: 0;
    margin-left: 1vw;
    margin-bottom: 2vw;
    ;
    padding: 0
        /*1vw 1.5vw 2vw*/
    ;
    border-radius: 1.7vw;
    transition: all 0.3s;
}

.imgdivitem:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: var(--base-acctcolopac);
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0 0 1.7vw 1.7vw;
    transition: all .3s ease;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 1vw;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: var(--base-acctshadopac);
}

/*
.overlay p {
    font-size: calc(0.6em + 1.4vmax);
}
    */

.imgdivitem p {
    position: absolute;
 /*   margin: 1.5vw 1vw;*/
    z-index: 1;
}

.imgdivitem:hover .overlay {
    height: 43%;
    opacity: 1;
}

.imgdivitem:hover .overlay2 {
    height: 1.5vw;
    opacity: 1;
}

.imgdivpush {
    margin: 0 1vw;
}