
.h1title {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
  margin: 0vw 0px 0px;
  padding: 0vw 2vw 0;
  font-size: calc(20px + 3vw);
  font-weight: 900;
  /*border:3px dashed blue;*/
}

.h1subtext{
  margin: 0 0 0 2vw;
  padding: 0 3vw;
  font-size: calc(1em + 0.5vmax);
}

.ProjHeader{
  overflow: hidden !important;
  margin: 6vw 0 0;
  display: flex;
  align-items: center;
}

.ProjBody{
  margin: 3vw 0 0;
  display: flex;
  width: 98.5vw;
}

.ProjBody h2{
  margin: 0vw 2.5vw;
}

.ProjBody p{
  margin: 0vw 3vw 0 5vw;
}

.ProjBody img{
  padding: 0;  
  margin: 1vw 1vw 1vw 2vw;
  position: relative;
  max-height: 40vw;
  border-radius: 1.3vw;
  text-align: right;
}

.BodyImgDiv{
  margin-left: auto;
  text-align: right;
  float: right;
}

.ProjInfoTab{
  anchor-name: --Anchor1;
  overflow: hidden;
  padding: 0 1vw;   
  margin-left: auto;
  margin-right: -1vw;
  width: 35vw;
  max-height: 30vw;
  background-color: var(--base-divbg);
  border-radius: 2vw 0.5vw 0.5vw 2vw;
}

.ProjInfoTab h2{
  font-size: calc(1em + 0.5vmax);
}

.ProjExtTab{
  padding: 1vw 0vw 1vw 1vw;
  margin: 2vw 10vw;
  max-width: 78vw;
  max-height: 40vw;
  background-color: var(--base-divbg);
  border-radius: 2vw;
  border-left: 0.5vw solid var(--base-acctcol);
}

.ProjExtTab h2{
  margin: 1vw 1.5vw 0;
}

.ProjExtTab p{
  font-size: calc(0.6em + 0.8vmax);
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Collapsible Style */
.collapsible {
  background-color: var(--base-bgdiv);
  cursor: pointer;
  padding: 1vw 0vw 1vw 1vw;
  max-width: 30vw;
  height: 3vw;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:after {
  content: '\002B';
  color: var(--base-textfill);
  font-size: 3vw;
  font-weight: bold;
  float: right;
  margin: -5vw 1vw 2vw 3vw;
}

.collapsible:hover{
  background-color: var(--base-acctcol);
  transition: all 0.2s;
}


.readmore {
  /*padding: 1vw 1vw 1vw 2vw;
  margin: 1vw 0 0 -1.5vw;*/
  padding: 0;
  width: 78vw;
  max-height: 50vw;
  background-color: var(--base-divbg);
  border-radius: 2vw;
  cursor: pointer;
  outline: none;
  border-style: none;
  text-align: left;
  transition: all 0.2s;
}

.readmore:after {
  text-decoration: underline;
  content: 'Show more';
  color: var(--base-textfill);
  font-size: 1.2vw;
  font-weight: bold;
  float: left;
  margin: -1vw 0 0 2vw;
  
}

.readmore:hover{
  background-color: var(--base-acctshad);
  transition: all 0.2s;
}

.active:after {
  content: "\2212";
}

.activeread:after {
  text-decoration: underline;
  content: "Show less";
}

.content {
  padding: 0 1cap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--base-divbg);
}
