

.h1proj {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
  margin: 0;
  padding: 0;
  font-size: calc(20px + 3vw);
  font-weight: 600;
  text-align: center;
  /*border:3px dashed blue;*/
}

.psub{
  margin: 5vw 0 0.5vw;
  text-align: center;
  -webkit-text-fill-color:  var(--base-textsubfill);
}

.psub2{
  margin: 1vw 0 1vw;
  text-align: center;
  -webkit-text-fill-color:  var(--base-textsubfill);
}

/*
Idea is to create left-right 'steps' of projects
*/

.h2proj{
  position: relative;
  margin: 1.1vw 2vw 0.1vw !important;
  padding: 0vw;
  max-width: 40vw;
}

.h2proj a:hover{
  transition: all 0.2s;
  -webkit-text-fill-color:  var(--base-textsubfill);
  
}

.p2sub{
  margin: 0 0 0 2vw !important;
  padding: 0vw;
  -webkit-text-fill-color: var(--base-textsubfill);
  font-size: calc(0.6em + 0.5vmax);
}

.p2text{
  margin: 0.7vw 0 0 2vw;
  max-width: 55vw;
}


/*
Wanted to try make these flexboxes but that did not work out 
*/
.pagecontent{
  max-width: 99vw;
  overflow: hidden;
}

.imgdivimg{
  position: relative;
  max-width: 20vw;
  height: 20vw;
  border-radius: 1.7vw;
}

.imgdivitem{
  position: relative;
  max-width: 20vw;
  height: 20vw;
  margin:0;
  padding:  0/*1vw 1.5vw 2vw*/;
  border-radius: 1.7vw;
  transition: all 0.3s;
}

.imgdivitem:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--base-acctcolopac);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 0 0 1.7vw 1.7vw;
  transition: all .3s ease;
}

.overlay p{
  font-size: calc(0.6em + 1.4vmax);
}

.imgdivitem p{
  position: absolute;
  margin: 0.5vw 1vw;
  z-index: 1;
}

.imgdivitem:hover .overlay{
  height: 43%;
  opacity: 1;
}


.imgdivpush {
  margin: 0 0.5vw;
}


.projbar{
  position: relative;
  overflow: hidden;
  margin: 4vw 1vw 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 30vw;
}

.projbar img{
  border-radius: 1.3vw !important;
  padding: 0;
  margin: 1vw inherit+1vw 1vw inherit+1vw;
  transition: all 0.2s;
}
.projbar img:hover{
  padding: 0;
  margin: 1vw inherit+1vw 1vw inherit+1vw !important;
  transform: scale(1.05);
  transition: all 0.2s;
}

.spacebar{
  margin: auto 0 0 0;
  min-height: 0vw;
  max-height: 10vw;
}

.projdiv-L{
  position: relative;
  padding: 0 0.5vw 0 0;
  margin: 0 auto 0 0;
  width: 58vw;
  max-height: 30vw;
  background-color: var(--base-divbg);
  border-radius: 0.5vw 2vw 2vw 0.5vw;
}

.projdiv-L img{
  padding: 0;  
  margin: 1vw 1vw 1vw 2vw;
  position: relative;
  max-height: 20vw;
  /*max-width: 15vw;*/
  border-radius: 1.3vw;
  float: right;
}

.skilldiv-R{
  padding: 1vw;
  margin-left: auto;
  width: 30vw;
  height: 20vw;
  background-color: var(--base-divbg);
  border-radius: 5vw 0.5vw 0.5vw 5vw;
  border-left: solid 0.5vw var(--base-acctcol);
}


.projdiv-R{
  padding: 0 0 0 0.5vw;   
  margin: 0 0 0 auto;
  width: 58vw;
  background-color: var(--base-divbg);
  border-radius: 2vw 0.5vw 0.5vw 2vw;
}

.projdiv-R img{
  padding: 0vw;
  margin: 1vw 2vw 1vw 1vw;
  position: relative;
  height: 20vw;
  border-radius: 1.3vw;
  float: left;
}

.projdiv-R .h2proj{
  margin-left: 17vw !important;
}

.skilldiv-L{
  padding: 1vw;   
  margin-right: auto;
  width: 29vw;
  height: 20vw;
  background-color: var(--base-divbg);
  border-radius: 0.5vw 5vw 5vw 0.5vw;
  border-right: solid 0.5vw var(--base-acctcol);
}

.hrdiv{
  margin: 3vw 0 0 1.7vw;
  width:34vw;
}

.ptags{
  text-align: center;
  margin: 1vw 0 1vw 2vw;
  font-size: calc(0.5em + 0.5vmax);
  -webkit-text-fill-color:  var(--base-textsubfill);
  color: var(--base-textsubfill);
  float: left;
}


.aptags{
  position: relative;
  text-align: center;
  margin: 1vw 0 1vw 2vw;
  font-size: calc(0.5em + 0.5vmax);
  -webkit-text-fill-color:  var(--base-textofffill);
  color: var(--base-textofffill);
  float: left;
}

.ptags .exptext{
  visibility: hidden;
  max-width: 10vw;
  background-color: var(--base-toolbg);
  -webkit-text-fill-color:  var(--base-textofffill);
  text-align: center;
  align-items: center;
  border-radius: 0.5vw;
  padding: 0.4vw 0.5vw;
  position: absolute;
  z-index: 1;
  bottom: 3vw;
  left: 5vw;
  margin-left: -8vw;
  opacity: 0;
  transition: opacity 0.3s;
}

.ptags .exptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1vw;
  border-width: 1vw;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.aptags .exptext{
  visibility: hidden;
  max-width: 10vw;
  background-color: var(--base-toolbg);
  -webkit-text-fill-color:  var(--base-textofffill);
  text-align: center;
  border-radius: 0.5vw;
  padding: 0.4vw 0.5vw;
  position: absolute;
  z-index: 1;
  bottom: 3vw;
  left: 5vw;
  margin-left: -8vw;
  opacity: 0;
  transition: opacity 0.3s;
}

.aptags .exptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1vw;
  border-width: 1vw;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ptags:hover .exptext {
  visibility: visible;
  opacity: 1;
}

.aptags:hover .exptext {
  visibility: visible;
  opacity: 1;
}

.tagdiv-L{
  position: absolute;
  bottom: 1vw;
  left: 1vw;
}

.tagdiv-R{
  position: absolute;
  bottom: 1vw;
  right: 5vw;
}


/*
.ptr{
 -webkit-text-fill-color: #0000ff;
}
*/

/*
derived from
https://blog.hubspot.com/website/css-fade-in
*/
.tag{
  color: 0;
}

.tag-R{
  color: 0;
}


/*
.tag{
  opacity: 0;
  transform: translate(10vh, 0);
  transition: all 1s;
}

.tag.visible{
  opacity: 1;
  transform: translate(0, 0);
}

.tag-R{
  opacity: 0;
  transform: translate(-10vh, 0);
  transition: all 1s;
}

.tag-R.visible{
  opacity: 1;
  transform: translate(0, 0);
}*/

/*
code to disable for saving to pdf
*/
/*
.tag{
  opacity: 1;
}

.tag.visible{
  opacity: 1;
  transform: translate(0, 0);
}

.tag-R{
  opacity: 1;
}

.tag-R.visible{
  opacity: 1;
  transform: translate(0, 0);
}
*/