

.h1index {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
  opacity: 1.0 !important;
  margin: 0;
  padding: 3vw 2vw 0;
  font-size: calc(20px + 3vw);
  font-weight: 900;
  position: relative;
  /*border:3px dashed blue;*/
}

.bgtest {
  position: relative;
  height: auto;
  padding: 3vw 0 5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://drive.google.com/thumbnail?id=1LKZFg1k73dhyUxUT5oXxzme2d2ANYznd&sz=w1000");
  background-size: cover;
}
.bgtest::before{
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--base-bgopacity);
}

.emptybgdiv {
  position: relative;
  top: 0px;
  background-color: var(--base-divbg);
  min-width: 100%;
  margin: 0px 0 2vw;
  /*min-height: 800px;
  /*background-size: 90% auto;*/
}

.flatbgdiv {
  position: relative;
  max-width: 80vw;
  margin: 0vw auto 0;
  padding: 0;
  background-color: var(--base-divbg);
  /*min-height: 800px;
  /*background-size: 90% auto;*/
}

.imgdiv{
  margin: 0vw 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.flatbgimg1 {
  position: relative;
  width: 20vw;
  max-height: 27vw;
  margin: 1vw 3vw 2vw;
  padding: 0;
  border-radius: 1.7vw;

}


.flatbgh {
  text-align: center;
  margin: 0;
  padding: 2vw 0px 0px 0px;
  background-color: var(--base-divbg);
  font-weight: bold;
}

.flatbgsubh {
  -webkit-text-fill-color:  var(--base-textsubfill);
  text-align: center;
  margin: 0;
  padding: 0 0 1vw;
  background-color: var(--base-divbg);
}

.flatbgp {
  margin: 0;
  padding: 1vw 2vw;
  border-radius: 1.5vw;
  background-color: var(--base-acctcol);
}

.flatbgbuttonp {
  /*margin:  0px 0px 0px;
  padding: 0px 0px 20px 0px;
  */
  text-align: center;
  background-color: var(--base-divbg);
  font-weight: 700;
  padding: 0 0 1vw;
}

