.Footerbar{
  margin: 2vw 0 0;
  min-height: 9vw;
  background-color: var(--base-divbg);
  position: relative;
  max-width: 100;
}

.Footerbar p{
  background-color: var(--base-divbg);
  line-height: 2em;
  text-align: center;
  padding: 1em 0 0;
  /*padding-left: 260px;*/
  /*padding: 3vw 0;*/
  overflow: hidden;
  font-size: calc(0.3em + 1vmax);
}
