

.h1index {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw 0px;*/
  opacity: 1.0 !important;
  margin: 0;
  padding: 3vw 2vw 0;
  font-size: calc(20px + 3vw);
  font-weight: 900;
  position: relative;
  /*border:3px dashed blue;*/
}

.bgtest {
  position: relative;
  height: auto;
  padding: 3vw 0 5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--img-indexback);
  background-size: cover;
}
.bgtest::before{
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--base-bgopacity);
}

/*.hr{
  border-color: initial !important; 
}*/

.emptybgdiv {
  position: relative;
  top: 0px;
  background-color: var(--base-divbg);
  min-width: 100%;
  margin: 0px 0 2vw;
  /*min-height: 800px;
  /*background-size: 90% auto;*/
}

.flatbgdiv {
  position: relative;
  max-width: 80vw;
  margin: 0vw auto 0;
  padding: 0;
  background-color: var(--base-divbg);
  /*min-height: 800px;
  /*background-size: 90% auto;*/
}

/*
.imgdiv{
  margin: 0;
  padding: 1vw 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
*/

.imgdiv{
  padding: 1vw 0 2vw;
}

.flatbgimg1 {
  position: relative;
  max-width: 25vw;
  height: 27vw;
  margin:0;
  padding:  0/*1vw 1.5vw 2vw*/;
  border-radius: 1.7vw;
  transition: all 0.2s;
}

.imgdivitem{
  position: relative;
  max-width: 25vw;
  height: 27vw;
  margin:0;
  padding:  0/*1vw 1.5vw 2vw*/;
  border-radius: 1.7vw;
  transition: all 0.2s;
}

.flatbgimg1:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--base-acctcolopac);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 0 0 1.7vw 1.7vw;
  transition: all .2s ease;
}

.flatbgimg1 h2{
  position: absolute;
  margin: 0.5vw 1vw;
  z-index: 1;
}

.flatbgimg1:hover .overlay{
  height: 40%;
  opacity: 1;
}



.flatbgimgpush {
  margin: 0 1vw;
}

.flatbgh {
  text-align: center;
  margin: 0;
  padding: 2vw 0px 0px 0px;
  /*color:  var(--base-textfill);*/
  background-color: var(--base-divbg);
  font-weight: bold;
}

.flatbgh a{
  transition: all 0.2s;
}
.flatbgh a:hover{
  -webkit-text-fill-color:  var(--base-textsubfill);
  transition: all 0.2s;
}

.flatbgsubh {
  -webkit-text-fill-color:  var(--base-textsubfill);
  text-align: center;
  margin: 0;
  padding: 0 0 1vw;
  background-color: var(--base-divbg);
}

.flatbgp {
  margin: 0;
  padding: 1vw 2vw;
  border-radius: 1.5vw;
  background-color: var(--base-acctshad);
  transition: all 0.2s;
}

.flatbgbuttonp {
  /*margin:  0px 0px 0px;
  padding: 0px 0px 20px 0px;
  */
  text-align: center;
  background-color: var(--base-divbg);
  font-weight: 700;
  padding: 0 0 1vw;
  transition: all 0.2s;
}

.flatbgbuttonp:hover{
  transform: scale(1.05);
  transition: all 0.2s;
}

.flatbgbuttonp a:hover{
  background-color: var(--base-acctcol);
  transition: all 0.2s;
}